.left-div {
  padding-left: 56px;
}

.right-div {
  padding: 0 157px 0 100px;
}

.logo {
  padding-top: 96px;
}

.illustration {
  margin-top: -96px;
}

.welcome {
  font-size: 40px;
  font-weight: 800;
}
