@use '../../style/variables' as utils;

.dashboard-layout {
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 283px 1fr;
  height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 10;
}

.sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  width: 283px;
  height: 100vh;
  padding: 1rem;
  overflow-y: auto;
  background-color: utils.$background-white;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.content {
  grid-row: 2 / -1;
  grid-column: 2 / -1;
  padding: 60px;
  overflow-y: auto;
  background-color: utils.$background-gray;
}


.user {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}


