.dashboard-layout {
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 283px 1fr;
  height: 100vh;
}

.header {
  grid-column: 1 / -1;
  color: white;
  display: flex;
  align-items: center;
  padding: 24px;
  box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;}

.sidebar {
  grid-row: 2 / -1;
  background-color: #561;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.content {
  background-color: #f9f9f9;
  padding: 20px;
}
