@use '../../style/variables' as utils;

.dashboard-layout {
  display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 283px 1fr;
    height: 100vh;
}

.header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  z-index: 10;
}

.sidebar {
  grid-row: 2 / -1;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.content {
  grid-row: 2 / -1;
  grid-column: 2 / -1;
  padding: 60px;
  overflow-y: auto;
  background-color: utils.$background-gray;
}

.user {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

