@use'./variables' as *;
@use 'function' as *;


.m-0 {
  margin: 0;
}

.m-1 {
  margin: size_unit(1);
}

.m-2 {
  margin: size_unit(2);
}

.m-3 {
  margin: size_unit(3);
}

.m-4 {
  margin: size_unit(4);
}

.m-5 {
  margin: size_unit(5);
}

.m-n1 {
  margin: -#{size_unit(1)};
}

.m-n2 {
  margin: -#{size_unit(2)};
}

.m-n3 {
  margin: -#{size_unit(3)};
}

.m-n4 {
  margin: -#{size_unit(4)};
}

.m-n5 {
  margin: -#{size_unit(5)};
}

.ml-0 {
  margin-left: 0;
}

.ml-1 {
  margin-left: size_unit(1);
}

.ml-2 {
  margin-left: size_unit(2);
}

.ml-3 {
  margin-left: size_unit(3);
}

.ml-4 {
  margin-left: size_unit(4);
}

.ml-5 {
  margin-left: size_unit(5);
}

.ml-n1 {
  margin-left: -#{size_unit(1)};
}

.ml-n2 {
  margin-left: -#{size_unit(2)};
}

.ml-n3 {
  margin-left: -#{size_unit(3)};
}

.ml-n4 {
  margin-left: -#{size_unit(4)};
}

.ml-n5 {
  margin-left: -#{size_unit(5)};
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: size_unit(1);
}

.mr-2 {
  margin-right: size_unit(2);
}

.mr-3 {
  margin-right: size_unit(3);
}

.mr-4 {
  margin-right: size_unit(4);
}

.mr-5 {
  margin-right: size_unit(5);
}

.mr-n1 {
  margin-right: -#{size_unit(1)};
}

.mr-n2 {
  margin-right: -#{size_unit(2)};
}

.mr-n3 {
  margin-right: -#{size_unit(3)};
}

.mr-n4 {
  margin-right: -#{size_unit(4)};
}

.mr-n5 {
  margin-right: -#{size_unit(5)};
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.mx-1 {
  margin: 0 size_unit(1);
}

.mx-2 {
  margin: 0 size_unit(2);
}

.mx-3 {
  margin: 0 size_unit(3);
}

.mx-4 {
  margin: 0 size_unit(4);
}

.mx-5 {
  margin: 0 size_unit(5);
}

.mx-n1 {
  margin: 0 -#{size_unit(1)};
}

.mx-n2 {
  margin: 0 -#{size_unit(2)};
}

.mx-n3 {
  margin: 0 -#{size_unit(3)};
}

.mx-n4 {
  margin: 0 -#{size_unit(4)};
}

.mx-n5 {
  margin: 0 -#{size_unit(5)};
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.my-1 {
  margin: size_unit(1) 0;
}

.my-2 {
  margin: size_unit(2) 0;
}

.my-3 {
  margin: size_unit(3) 0;
}

.my-4 {
  margin: size_unit(4) 0;
}

.my-5 {
  margin: size_unit(5) 0;
}

.my-n1 {
  margin: -#{size_unit(1)} 0;
}

.my-n2 {
  margin: -#{size_unit(2)} 0;
}

.my-n3 {
  margin: -#{size_unit(3)} 0;
}

.my-n4 {
  margin: -#{size_unit(4)} 0;
}

.my-n5 {
  margin: -#{size_unit(5)} 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: size_unit(1);
}

.mt-2 {
  margin-top: size_unit(2);
}

.mt-3 {
  margin-top: size_unit(3);
}

.mt-4 {
  margin-top: size_unit(4);
}

.mt-5 {
  margin-top: size_unit(5);
}

.mt-n1 {
  margin-top: -#{size_unit(1)};
}

.mt-n2 {
  margin-top: -#{size_unit(2)};
}

.mt-n3 {
  margin-top: -#{size_unit(3)};
}

.mt-n4 {
  margin-top: -#{size_unit(4)};
}

.mt-n5 {
  margin-top: -#{size_unit(5)};
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: size_unit(1);
}

.mb-2 {
  margin-bottom: size_unit(2);
}

.mb-3 {
  margin-bottom: size_unit(3);
}

.mb-4 {
  margin-bottom: size_unit(4);
}

.mb-5 {
  margin-bottom: size_unit(5);
}

.mb-n1 {
  margin-bottom: -#{size_unit(1)};
}

.mb-n2 {
  margin-bottom: -#{size_unit(2)};
}

.mb-n3 {
  margin-bottom: -#{size_unit(3)};
}

.mb-n4 {
  margin-bottom: -#{size_unit(4)};
}

.mb-n5 {
  margin-bottom: -#{size_unit(5)};
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: size_unit(1);
}

.p-2 {
  padding: size_unit(2);
}

.p-3 {
  padding: size_unit(3);
}

.p-4 {
  padding: size_unit(4);
}

.p-5 {
  padding: size_unit(5);
}

.p-n1 {
  padding: -#{size_unit(1)};
}

.p-n2 {
  padding: -#{size_unit(2)};
}

.p-n3 {
  padding: -#{size_unit(3)};
}

.p-n4 {
  padding: -#{size_unit(4)};
}

.p-n5 {
  padding: -#{size_unit(5)};
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: size_unit(1);
}

.pl-2 {
  padding-left: size_unit(2);
}

.pl-3 {
  padding-left: size_unit(3);
}

.pl-4 {
  padding-left: size_unit(4);
}

.pl-5 {
  padding-left: size_unit(5);
}

.pl-n1 {
  padding-left: -#{size_unit(1)};
}

.pl-n2 {
  padding-left: -#{size_unit(2)};
}

.pl-n3 {
  padding-left: -#{size_unit(3)};
}

.pl-n4 {
  padding-left: -#{size_unit(4)};
}

.pl-n5 {
  padding-left: -#{size_unit(5)};
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: size_unit(1);
}

.pr-2 {
  padding-right: size_unit(2);
}

.pr-3 {
  padding-right: size_unit(3);
}

.pr-4 {
  padding-right: size_unit(4);
}

.pr-5 {
  padding-right: size_unit(5);
}

.pr-n1 {
  padding-right: -#{size_unit(1)};
}

.pr-n2 {
  padding-right: -#{size_unit(2)};
}

.pr-n3 {
  padding-right: -#{size_unit(3)};
}

.pr-n4 {
  padding-right: -#{size_unit(4)};
}

.pr-n5 {
  padding-right: -#{size_unit(5)};
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}

.px-1 {
  padding: 0 size_unit(1);
}

.px-2 {
  padding: 0 size_unit(2);
}

.px-3 {
  padding: 0 size_unit(3);
}

.px-4 {
  padding: 0 size_unit(4);
}

.px-5 {
  padding: 0 size_unit(5);
}

.px-n1 {
  padding: 0 -#{size_unit(1)};
}

.px-n2 {
  padding: 0 -#{size_unit(2)};
}

.px-n3 {
  padding: 0 -#{size_unit(3)};
}

.px-n4 {
  padding: 0 -#{size_unit(4)};
}

.px-n5 {
  padding: 0 -#{size_unit(5)};
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.py-1 {
  padding: size_unit(1) 0;
}

.py-2 {
  padding: size_unit(2) 0;
}

.py-3 {
  padding: size_unit(3) 0;
}

.py-4 {
  padding: size_unit(4) 0;
}

.py-5 {
  padding: size_unit(5) 0;
}

.py-n1 {
  padding: -#{size_unit(1)} 0;
}

.py-n2 {
  padding: -#{size_unit(2)} 0;
}

.py-n3 {
  padding: -#{size_unit(3)} 0;
}

.py-n4 {
  padding: -#{size_unit(4)} 0;
}

.py-n5 {
  padding: -#{size_unit(5)} 0;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: size_unit(1);
}

.pt-2 {
  padding-top: size_unit(2);
}

.pt-3 {
  padding-top: size_unit(3);
}

.pt-4 {
  padding-top: size_unit(4);
}

.pt-5 {
  padding-top: size_unit(5);
}

.pt-n1 {
  padding-top: -#{size_unit(1)};
}

.pt-n2 {
  padding-top: -#{size_unit(2)};
}

.pt-n3 {
  padding-top: -#{size_unit(3)};
}

.pt-n4 {
  padding-top: -#{size_unit(4)};
}

.pt-n5 {
  padding-top: -#{size_unit(5)};
}

.pb-1 {
  padding-bottom: size_unit(1);
}

.pb-0 {
  padding-bottom: 0;
}

.pb-2 {
  padding-bottom: size_unit(2);
}

.pb-3 {
  padding-bottom: size_unit(3);
}

.pb-4 {
  padding-bottom: size_unit(4);
}

.pb-5 {
  padding-bottom: size_unit(5);
}

.pb-n1 {
  padding-bottom: -#{size_unit(1)};
}

.pb-n2 {
  padding-bottom: -#{size_unit(2)};
}

.pb-n3 {
  padding-bottom: -#{size_unit(3)};
}

.pb-n4 {
  padding-bottom: -#{size_unit(4)};
}

.pb-n5 {
  padding-bottom: -#{size_unit(5)};
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-bolder {
  font-weight: bolder;
}

.font-weight-lighter {
  font-weight: lighter;
}

.font-large {
  font-size: $font-size-bodyLarge;
}

.font-larger {
  font-size: $font-size-bodyXL;
}

.font-normal {
  font-size: $font-size-body;
}

.font-semi-large {
  font-size: $font-size-bodySemiLarge;
}

.font-small {
  font-size: $font-size-bodySmall;
}

.font-smaller {
  font-size: $font-size-bodyXS;
}

.font-style-italic {
  font-style: italic;
}

.d-flex {
  display: flex;
}

.flex-dir-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-end {
  justify-content: end;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-baseline {
  align-items: baseline;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-center {
  align-self: center;
}

.align-self-end {
  align-self: flex-end;
}

.gap-1 {
  gap: size_unit(1);
}

.gap-2 {
  gap: size_unit(2);
}

.gap-3 {
  gap: size_unit(3);
}

.gap-4 {
  gap: size_unit(4);
}

.gap-5 {
  gap: size_unit(5);
}

.lh-sm {
  line-height: $line-height-sm;
}

.lh-md {
  line-height: $line-height-md;
}

.lh-lg {
  line-height: $line-height-lg;
}

.fw-lighter {
  font-weight: $font-weight-lighter;
}

.fw-light {
  font-weight: $font-weight-light;
}

.fw-normal {
  font-weight: $font-weight-normal;
}

.fw-medium {
  font-weight: $font-weight-medium;
}

.fw-bold {
  font-weight: $font-weight-bold;
}

.fw-bolder {
  font-weight: $font-weight-bolder;
}

.letter-spacing {
  letter-spacing: $letter-spacing;
}

.cursor-pointer {
  cursor: pointer;
}

.width-100 {
  width: 100%;
}

.width-50 {
  width: 50%;
}

.width-25 {
  width: 25%;
}

.width-75 {
  width: 75%;
}

.vh-100 {
  height: 100vh;
}

.vh-75 {
  height: 75vh;
}
.vh-50 {
  height: 50vh;
}

.height-100 {
  height: 100%;
}

.text-color-white {
  color: $color-white;
}

.text-color-primary {
  color: $text-primary;
}

.text-color-secondary {
  color: $text-secondary;
}

.text-color-secondary2 {
  color: $text-secondary2;
}

.text-color-tertiary {
  color: $text-tertiary;
}

.background-white {
  background: $background-white;
}

.background-gray {
  background: $background-gray;
}

.background-button-color {
  background: $button-color;
}

.border-primary {
  border: 2px solid $border-primary;
}

.border-secondary {
  border-color: $border-secondary;
}

.border-none {
  border: none;
}

.outline-none {
  outline: none;
}

@media only screen and (max-width: $mobile-breakpoint) {
  .hideSm {
    display: none;
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .hideLg {
    display: none;
  }
}
.wrap{
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
