// colors
$text-primary: #545f7d;
$text-secondary: #213f7d;
$background-white: #fff;
$background-gray: #fbfbfb;
$button-color: #3bcdcc;
$border-primary: #d3d9e5;
$border-secondary: #545f7d;

// base unit for spacing
$base-unit: 10px;
$mobile-breakpoint: 768px;


// font sizes
$font-size-bodyXS: 12px;
$font-size-bodySmall: 14px;
$font-size-body: 16px;
$font-size-bodySemiLarge: 18px;
$font-size-bodyLarge: 20px;
$font-size-bodyXL: 24px;

// line heights
$line-height-sm: 16px;
$line-height-md: 18px;
$line-height-lg: 28px;
$line-height-xlg: 32px;

// font weights
$font-weight-lighter: lighter;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: bolder;
