@use 'utilities';
@use'./variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,300&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

body {
  overflow-x: hidden;
  font-weight: $font-size-body !important;
  //font-size: $font-size-body;
}

div,
p,
span {
  font-size: $font-size-body;
}
